<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.oa.sys.mapper.LeaveMapper">

 <select id="selectById" resultType="leave" parameterType="int">
 
 select * from  sys_leave where  flag= 0 and leave_id=#{leaveId}
 
 </select>
	
  <insert id="insert" parameterType="leave"  useGeneratedKeys="true" keyProperty="leaveId">
   insert into sys_leave (user_id,user_name,reson,type,leave_day,leave_time,remark) 
      values (#{userId},#{userName},#{reson},#{type},#{leaveDay},#{leaveTime},#{remark}) 
  
  </insert>
  
  
 
	<update id="deleteById" parameterType="int" >
	 
	update sys_leave set flag=1  where leave_id = #{leaveId} 
	
	</update>
	
	<select id="findAll" resultType="leave">
	
	 select * from sys_leave where flag=0 
	
	</select>
	
	
	<select id="findLeaveByUserId" resultType="leave">
	
	      
	 select * from sys_leave where  flag=0 
	<if test="query!=null">
	 and (user_name like '%${query}%' or reson like '%${query}%' or remark  like '%${query}%' )
	
	</if>
	and user_id =#{userId} 
	
	</select>
	
	
	<update id="update" parameterType="leave">
	
	 update sys_leave
	 <set>
	 <if test="reson!=null">
	  reson = #{reson} ,
	 </if>
	  <if test="type!=null">
	   type = #{type} ,
	 </if>
	 <if test="leaveDay!=null">
	   leave_day = #{leaveDay} ,
	 </if>
	  <if test="leaveTime!=null">
	   leave_time = #{leaveTime} ,
	 </if>
	  <if test="processId!=null">
	   process_id = #{processId} ,
	 </if>
	 
	<if test="remark!=null">
	   remark = #{remark} 
	 </if>
	 </set>
	 <where>
	  leave_id =#{leaveId}
	 </where>
	</update>
</mapper>