<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.oa.sys.mapper.UserMapper">



	<insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user (user_no,user_name,login_name,password,brith,flag,dept_id,remark,sex)
		values (#{userNo},#{userName},#{loginName},#{password},#{brith},0,#{deptId},#{remark},#{sex})

	</insert>
	
	
	
	<select id="selectById" resultType="user" parameterType="int">

		 select u.*,d.name as dept_name from sys_user u left join sys_dept d on u.dept_id=d.dept_id  where u.flag= 0 and u.user_id=#{userId}

	</select>
	
	
	<update id="deleteById" parameterType="int" >
	 
	update sys_user set flag=1  where user_id = #{userId} 
	
	</update>
	
	<select id="findAll" resultType="user">
	
	 select u.*,d.name as dept_name from sys_user u left join sys_dept d on u.dept_id=d.dept_id
    <where>
    u.flag = 0 
    <if test="query!=null">
     and (u.user_name like "%${query}%" or u.user_no like "%${query}%"  )
    
    </if>
     
    </where>
	
	</select>
	
	
	<update id="update" parameterType="user">
	
	 update sys_user 
	 <set>
	 <if test="userNo!=null">
	  user_no = #{userNo} ,
	 </if>
	 <if test="userName!=null">
	  user_name = #{userName} ,
	 </if>
	  <if test="password!=null">
	   password = #{password} ,
	 </if>
	  <if test="age!=null">
	  age = #{age} ,
	 </if>
	  <if test="brith!=null">
	  brith = #{brith} ,
	 </if>
	  <if test="remark!=null">
	  remark = #{remark} ,
	 </if>
	  <if test="email!=null">
	  email = #{email} ,
	 </if>
	  <if test="phone!=null">
	  phone = #{phone} ,
	 </if>
	 <if test="tel!=null">
	  tel = #{tel} ,
	 </if>
	  <if test="deptId!=null">
	  dept_id = #{deptId} ,
	  
	 </if>
	 <if test="status!=null">
	    status = #{status} 
	  
	 </if>
	 
	 </set>
	 <where>
	  user_id =#{userId}
	 </where>
	</update>
	
	
	<select id="findUserByConpayId" resultType="user">
	select * from sys_user 
	<where>
	<if test="query!=null">
	(user_name like '%${query}%' or remark like '%${query}%') and
	</if>
	
	</where>
	
      flag = 0  and dept_id in (select dept_id from sys_dept where parent_id=#{id})
	</select>

	<select id="findUserByDeptId" resultType="user" >
	
	select * from sys_user
	<where>
	<if test="query!=null">
	(user_name like '%${query}%' or remark like '%${query}%') and
	</if>
	
	</where>
	 flag = 0 and dept_id =#{id}
	

	</select>
	
	
	<insert id="updateUserRoles">
	
	insert into sys_user_role (user_id,role_id) values (#{userId},#{roleId})
	</insert>
	
	
	<delete id="deleteUserRolesByUserId">
	
	delete from sys_user_role where user_id=#{userId}
	</delete>
	
	
	
	<select id="findUserByUserNo" resultType="user" >
	
	 select * from sys_user where user_no=#{userNo} and flag =0;
	</select>
	
	
	
	
	
	
	


</mapper>