<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="easyui">

<link rel="stylesheet" type="text/css" href="/easyui/themes/gray/easyui.css" th:href="@{/easyui/themes/gray/easyui.css}" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" th:href="@{/easyui/themes/icon.css}"/>


<script type="text/javascript" src="/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}" ></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>

<script type="text/javascript" src="/js/utils.js" th:src="@{/js/utils.js}"></script>
<script type="text/javascript" src="/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
</div>

<div th:fragment="bootstrap">




</div>


</body>
</html>