<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div th:fragment="footjs">
	<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js' th:src='@{/assets/js/jquery-2.0.3.min.js}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js' th:src='@{/assets/js/jquery-1.10.2.min.js}'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js' th:src='@{/assets/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
		</script>
		<script src="/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
		<script src="/assets/js/typeahead-bs2.min.js" th:src="@{/assets/js/typeahead-bs2.min.js}"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="/assets/js/ace-elements.min.js" th:src="@{/assets/js/ace-elements.min.js}"></script>
		<script src="/assets/js/ace.min.js" th:src="@{/assets/js/ace.min.js}"></script>

		<!-- inline scripts related to this page -->
</div>
</body>
</html>