<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>生兴OA->用户管理</title>
		<meta name="keywords" content="IsoftStone模板, Bootstrap模板" />
		<meta name="description" content=" Bootstrap模板" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<div th:include="commons/head::head"></div>
		<script type="text/javascript">
		 (function(){
			
			 
			 
			 
		 });
		
		
		
		
		</script>
	</head>

	<body>
       <div th:replace="commons/bar::topbar"></div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

	          <div th:replace="commons/bar::sidebar(activeUri='users',stat='open')"></div>
				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/index">首页</a>
							</li>
							<li >
							<a href="#">系统管理</a>
							</li>
							<li >用户管理</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>
                    <div class="page-content">
                    <!-- <div class="page-header">
							<h1>
								用户管理
								<small>
									<i class="icon-double-angle-right"></i>
									  用户列表
								</small>
							</h1>
						</div>/.page-header -->
						
						<div class="row">
							<div class="col-xs-12">
							
							<form role="form">
								<div class="form-group">
									 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
								</div>
								<div class="form-group">
									 <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
								</div>
								<div class="form-group">
									 <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />
									<p class="help-block">
										Example block-level help text here.
									</p>
								</div>
								<div class="checkbox">
									 <label><input type="checkbox" />Check me out</label>
								</div> <button type="submit" class="btn btn-default">Submit</button>
							</form>
						</div>	
						</div>
						
						
						
	
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
				

	          <!-- 需引入皮肤模板 -->
              <div th:replace="commons/skin::skin"></div>
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- 需要引入 footjs -->
		  <div th:replace="commons/footjs::footjs"></div>
		
	</body>
</html>

