<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户管理</title>
  <style>
  

  
  </style>
  
  

 <div th:replace="commons/easyui::easyui"></div>
  <script  src="/js/utils.js" th:src="@{/js/utils.js}"></script>
 <script  src="/js/user/users.js" th:src="@{/js/user/users.js}"></script>

 
</head>
<body class="easyui-layout">
    <div data-options="region:'west',title:'组织机构'" style="width: 200px;">
		<ul id="tree" class="easyui-tree"></ul>
	</div>
	<div data-options="region:'center'"	style="padding: 5px; background: #eee;">
		<table id="datagrid"></table>
	</div>
	
	<div id="dept_dialog">
	   <div id="dept_tree"></div>
	</div>
	

	
</body>
</html>