<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>任务管理</title>
<div th:replace="commons/easyui::easyui"></div>
<style type="text/css">
* {
	padding: 0;
	margin: 0;
}
#wrap{

	margin: 0 auto;
	border: 1px solid red;
	
}

#image {
  float: left;
	
}

#current {
	border : 1px solid red;
 	/* position: relative; */
 
}
</style>
<script type="text/javascript">
	$(function() {

		var top = $("#current").attr("x")*1 ;
		var left = $("#current").attr("y")*1;
		var w = $("#current").attr("width")*1;
		var h = $("#current").attr("height")*1;
		
		 $("#current").css({
		   "width":w,
		    "height":h,
	       "position": "relative",
	         "left":left,
	         "top":top
		 });
		
		    
		
		 $("<img/>").attr("src",$("img").attr("src")).load(function(){
			 
			var realWidth = this.width;
             var realHeight = this.height;
             $("#wrap").css({
     			"width":realWidth,
     		    "height":realHeight
     		});
			 
		 })
		 
		 
		
		
		
		
		 
		 
		
	});
</script>

</head>
<body>

    <div id="wrap">
	<div id="image">
		<img alt="" src="" th:src="@{${path}}">
       
	</div>
	 <div id="current" th:x="${actInfo.x}" th:y="${actInfo.y}" th:width="${actInfo.width}" th:height="${actInfo.height}"></div>
    </div>


</body>
</html>