<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>生兴OA办公管理系统</title>
 <div th:include="commons/easyui::easyui"></div>
 <style>
  .top{
    background:#438eb9;
    height: 90px;
    
  }
  .logo{
    
     
  
  }
  .top-header{
  
   padding:20px auto;
   font-size: 20px;
   height: 30px;
  }
 </style>
</head>
<body class="easyui-layout">
	<div data-options="region:'north'" style="width:200px">
	 <div class="top">
	   <div class="logo" >
	    <div class="top-header"><p >企业OA 办公自动化管理系统</p></div>   
	    
	 
	 </div>
	    
	 
	 </div>
	</div>   
    <div data-options="region:'south'"  >
       <!-- <div th:include="easyui/common::footer"> 
  
       </div> -->
       <div style="margin:0 auto;">
	  南京生兴有害生物防治技术股份有限公司
	 </div>
	
	</div>
    </div>   
    <div data-options="region:'east',iconCls:'icon-reload',title:'East',split:true" style="width:100px;"></div>   
    <div data-options="region:'west',title:'导航',split:true" style="width:210px;"></div>   
    <div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;"></div>   
</body>
</html>